@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .interface-background {
    @apply my-4 mx-auto max-w-xl flex-col rounded-lg bg-gray-300 py-4 px-8 shadow-lg;
  }

  .primary-button {
    @apply my-auto rounded-lg border-2 border-slate-400 px-4 py-2 text-2xl font-semibold duration-300 hover:bg-slate-400;
  }
}
