@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .interface-background {
    @apply flex my-8 max-w-xl p-8 mx-auto w-full bg-slate-300 rounded-lg shadow-lg;
  }

  .primary-button {
    @apply px-4 py-2 rounded-lg text-2xl font-semibold border-2 border-slate-400 hover:bg-slate-400 duration-300 my-auto;
  }
}
